extends layout

block content
  h1 Mot de passe oublié
  form(method='POST')
    .form-group
      label(for='email') Adresse mail
      input.form-control(type='text', name='email', autofocus, placeholder="Adresse mail")
    button.btn.btn-primary(type='submit') Réinitialiser mon mot de passe